	{% load settings %}
	{% load smartif %}
	<div id="sidebar" class="yui-b">
         {% if not request.muaccount.owner %}
         <div class="block"><div class="hd">
             <h2>This account has no owner</h2>
           </div><div class="bd">
             {% if user.is_authenticated %}
             <form action="{% url muaccounts_claim_account %}"
                   method="POST" class="inline-form">
               <p><input type="submit" value="claim this account"></p></form>
             {% else %}
             If you feel you should manage this account, please
             register at <a href="{% setting MUACCOUNTS_DEFAULT_URL %}">
               main page</a> and <a href="{% url user_signin %}">log
             in here</a> to claim this account.
             {% endif %}
         </div></div>
         {% endif %}

          <div class="block">
            <div class="hd"><h2>Trackers</h2></div><div class="bd">
             <ul class="list">
                {% for t in request.muaccount.tracker_set.all %}
                <li{% if t = tracker %} style="font-weight: bold;"{% endif %}>
                  <a href="{{t.get_absolute_url}}">{{t}}</a>
                  {% ifequal user request.muaccount.owner %}
                  <form action="{% url tracker_edit slug=t.slug %}" method="GET" class="inline-form">
                    <p><input type="submit" value="edit"></p></form>
                  <form action="{% url tracker_delete slug=t.slug %}" method="POST" class="inline-form">
                    <p><input type="submit" value="delete"></p></form>
                 {% endifequal %}
                </li>{% endfor %}</ul>
             {% ifequal user request.muaccount.owner %}
             {% if request.muaccount.tracker_set.count < user.quotas.crowdsense_trackers %}
             <a href="{% url tracker_create %}">Add more</a>
             {% else %}
             You have reached your limit of trackers.
             {% endif %}
             {% endifequal %}
            </div>
        </div>
    </div>