{% extends "main.html" %}

{% block title %}{{channel}} for {{tracker}}{% endblock %} 
{% block body %}
<div class="block tabs spaces">
  <div class="hd">
    <ul>{{channel.render_tabs}}</ul><div class="clear"></div>
  </div><div class="bd">

    <table rules="cols rows" frame="void" border="1"
           bordercolor="#CCC" class="stats">
      <tbody>
        {{channel.render_statistics}}
      </tbody>
    </table>

</div></div>

<h2>Latest updates</h2>
<ul>{% for result in channel.get_results %}
  <li>{{result.render}}</li>
  {% endfor %}</ul>
{% endblock %}
