{# This fragment includes votes and AddToAny #}

{% load springsteen %}

{# The values used here come from springsteen.services.process_result #}
<a class="a2a_dd" href="http://www.addtoany.com/share_save?{{ result.share_url_params }}" target="_blank"><img src="http://static.addtoany.com/buttons/share_save_171_16.png" width="171" height="16" border="0" alt="Share/Save/Bookmark"/></a><script type="text/javascript">
	// <![CDATA[
	{# I'm not sure that we need |safe here but we do need |escapejs, to escape characters. #}
	{# Try the title of this page if you don't believe me: http://cookbookaddict.blogspot.com/2009/04/mes-ptits-gouters-2-special-paques.html #}
	a2a_linkname="{{ result.share_title|escapejs|safe }}";a2a_linkurl="{{ result.share_url }}";a2a_prioritize=["evernote"];a2a_init('page');
	// ]]>
	</script>
{# Needed by _votes.html #}
{# Re-using this script (http://www.addtoany.com/buttons/faq/#init_page ) doesn't work in all browsers: If you place it in earch.html in <head>, it works in Safari but not Firefox; and viceversa if you place it in results.html. #}
<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"/>


{# Voting markup #}
	<div style="width: 5ex;">
		<a href="/app/results{{ result.serviceresult_slug }}/{{ result.serviceresult_id }}/upvote" class="votingajax">up</a>
		<div class="score" id="score{{ result.serviceresult_id }}">{{ result.serviceresult_score.score }}</div>
		<a href="/app/results{{ result.serviceresult_slug }}/{{ result.serviceresult_id }}/downvote" class="votingajax">down</a>
	</div>