{% extends "main.html" %}
{% load smartif %}
{% block title %}{{request.muaccount}}: Polls{% endblock %}
{% block body %}
<div class="block">
    <div class="bd">
    <h2>Welcome to the Polls</h2>
    <b>(Latest First)</b>
    {% if latest_poll_list %}
        <ol>
        {% for poll in latest_poll_list %}
            <li><a href="{% url polls_detail poll.id %}">{{ poll.question }}</a></li>
        {% endfor %}
        </ol>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

    {% ifequal user request.muaccount.owner %}
        {% with latest_poll_list|length as poll_count %}
            {% if poll_count < user.quotas.muaccount_poll %}
                <br/><a href="{% url polls_create %}">Create a Poll</a>
            {% else %}
                <h3>Max limit for polls reached, cannot creat more polls</h3>
            {% endif %}
        {% endwith %}
    {% endifequal %}
    </div>
</div>
{% endblock %}
{% block sidebar %}
    <style>
        .tips li { list-style-type: disc; margin-left: 20px; }
    </style>
    <div class="block">
        <div class="bd">
            <script language="javascript" type="text/javascript">
            var thisobj = SHARETHIS.addEntry({
            title:'SaaS Kit', url:'http://www.saaskit.org'
            }, {button:true});
            </script>
        </div>
    </div>
    <div class="block">
        <div class="bd">
            <h2>Download SaaS Kit?</h2>
            <br />
            <p>For a complete range of available downloads related to SaaS Kit please visit the <a href="/downloads">Downloads</a> section</p>
            <p>Alternatively, you can visit Github's <a href='http://www.github.com/CrowdSense' target='_blank'>SaaS Kit repository</a> for the bleeding latest version</p>
            <hr>
            <br />
            <h2>SaaS Kit Tips</h2>
            <br>
            <ul class="tips">
            <li><p>To find Apps which can directly be installed with SaaS Kit, look for the SaaS Kit approved tag on Github.com</p></li>
            <li><p>Click the update icon to quickly view the change log with only the differences between your current version and the latest one</p></li>
            </ul>
        </div>
    </div>

    
{% endblock %}


