{% extends "main.html" %}
{% load oembed_tags %}

{% block title %}CrowdSense{% endblock %} 
{% block head %}
<script type="text/javascript" src="media/crowdsense/js/lightbox.js"></script>
<link rel="stylesheet" href="media/crowdsense/css/lightbox.css" type="text/css">
{% endblock %} 
{% block body %}
<div id="yui-main"><div class="yui-b"><div class="yui-g">
  <h2>Welcome</h2>
</div></div></div>

<div id="bg">
	<h1>LARGE TEXT! LARGE TEXT</h1>
	{% oembed 320x200 %}
	http://www.youtube.com/watch?v=MpIOClX1jPE
	{% endoembed %}
	<div><a href="media/crowdsense/img/left_col.jpg" rel="lightbox" title="Feature one"><img src="media/crowdsense/img/left_col.jpg"></img></a></div>
</div>
{% endblock %}




















