{% load compressed %}
{% load class_if_reverse %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}Title{% endblock %}</title>
	<link rel="shortcut icon" href="media/crowdsense/img/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
    {% compressed_css 'all' %}
    {% block head %}
    {% endblock %}
 </head>
  <body class="rounded">
    <div id="doc3">
      <div id="hd">
		<img src="media/crowdsense/img/143x59.png"></img>
        <div id="user-nav">
		<ul id="user-nav">
		{% if user.is_authenticated %}
           <li>Logged in as: <a href="#">{{user}}</a></li> | 
		   <li><a href="{% url profiles_create_profile %}">Profile</a></li> | 
		   <li><a href="{% url auth_password_change %}">Settings</a></li> | 
		   <li><a href="{% url user_signout %}">Logout</a></li>
		{% else %}
			<li><a href="{% url user_signin %}">Login</a></li>
        {% endif %}
		</ul>
        </div>
        <div id="navigation">
          <ul id="user-navigation">
			<li><a href="/">Home</a></li>
			{% if user.is_authenticated %}
			<li{% class_if_reverse contact_form active %}><a href="{% url notification_notices %}">Dashboard</a></li>
			<li{% class_if_reverse subscription_list active %}><a href="{% url subscription_list %}">Upgrade</a></li>
			{% else %}
			<li{% class_if_reverse contact_form active %}><a href="/testdrive">Test Drive</a></li>
			<li{% class_if_reverse subscription_list active %}><a href="{% url subscription_list %}">Plans</a></li>
			<li{% class_if_reverse subscription_list active %}><a href="{% url user_signin %}">Sign Up</a></li>
			{% endif %}                        
            <li{% class_if_reverse contact_form active %}><a href="/support">Support</a></li>
			<li{% class_if_reverse contact_form active %}><a href="/about">About Us</a></li>
          </ul>

        </div>
      </div>

      <div id="bd">
        {% block body %} Body {% endblock %}
      </div>
		<div id="ft">
        	<div class="footer-navigation">
            	<ul>
                	<li><a href="/">About CrowdSense</a></li> | 
                    <li><a href="/">Services</a></li> | 
                    <li><a href="/">Support</a></li> |                 
					<li><a href="{% url contact_form %}">Contact Us</a></li>
                </ul>
            </div>     
			<div class="pseudo-footer">
				<li><a href="/">Privacy & Copyright</a></li>
			</div>
        </div>
    {% compressed_js 'all' %}
    {% block extra_scripts %}{% endblock %}
	</div>
  </body>
</html>



