	{% load class_if_reverse %}
	<div id="hd">
		{% include 'header.html' %}
        <div id="navigation">
          <ul id="user-navigation">
			<li><a href="/">Home</a></li>
			{% if user.is_authenticated %}
			<li{% class_if_reverse contact_form active %}><a href="{% url notification_notices %}">Dashboard</a></li>
			<li{% class_if_reverse subscription_list active %}><a href="{% url subscription_list %}">Upgrade</a></li>
			{% else %}
			<li{% class_if_reverse contact_form active %}><a href="/testdrive">Test Drive</a></li>
			<li{% class_if_reverse subscription_list active %}><a href="{% url subscription_list %}">Plans</a></li>
			<li{% class_if_reverse subscription_list active %}><a href="{% url user_signin %}">Sign Up</a></li>
			{% endif %}                        
            <li{% class_if_reverse contact_form active %}><a href="/support">Support</a></li>
			<li{% class_if_reverse contact_form active %}><a href="/about">About Us</a></li>
          </ul>

        </div>
    </div>