{% extends "main.html" %}

{% block title %}SaaS kit, Easy Way for Bussiness Application {% endblock %}
{% block head %}
    <meta name="description" content="SaaS kit, The Quick & Easy to Build Bussines Applications, 100% Browser-Based, Comes with an Example App and Starting Tutorials, Broad Client Customization, Flexible for Your Bussiness Needs, Advanced CMS, Allows for Open ID, Integrated Analysis and BI Tools and Even an Open Source version for Higher Customization" />
    <meta name="keywords" content="SaaS kit,business app,quick&easy,flexible,browser-based,tutorial" />
{% endblock %}
{% block fake-header %}
  <div class="block">
                    <br>
            	<table>
                	<tr>
                    	<td><p><font size="+5">Jump Start your Entrepreneurial Ideas with &nbsp;&nbsp; SaaS Kit.</font></p>
                        <p>The quick &amp; easy way to build your "open for business" application without scratching deep.</p>                       
                 	<a href="/downloads"><div id="button">
                        <p>Buy SaaS Kit Express!</p>
                        <h6>Open Source version available for greater customization!</h6>                        
                        </div></a>
                        
                        </td>
                        <td><img src="media/saaskit/img/features_benefits.png" alt="SaaSkit features"></td>
                    </tr>
                </table>
            </div>

{% endblock %}

{% block body %}
    <!--Start of info block -->
                    <div class="block">
                        <p class="intro">Choosing the best possible alternative? How fast can I reach  my target market? Can I use my current payment gateway? Will it add to operational costs? Where will I find the most reliable support? If you find yourself always asking the above questions, then here is the right place for you.</p>
                    </div>
    <!--End of info block -->
<!--Start of advantages block --> 
                    <div class="block">
                    <table>
                        <tr>
                        <td>
                        <div id="test"><p><img src="media/saaskit/img/feature_one.png" alt=”Software as Service Model – Apps&Technology”></p></div>
                        </td>
                        <td><h2>Software as a Service Model</h2> 
                        <p><ul id="facts">
                           <li>We offer you a ready to use toolkit for all your basic needs with capabilities to provide on demand services to your/clients</li>
                           <li>Open Source version of SaaSkit together with key components available for those who require greater customization!</li>
                           <li>Bundled with a sample "Polls app" and tutorial to kick start your application</li>
                        </ul></p></td>
                        </tr>
                        <tr>
                        <td>
                        <div id="test"><p><img src="media/saaskit/img/feature_two.png" alt=”Use Subscriptions as Needed”></p></div>
                        </td>
                        <td><h2>Use your choice of Business Model</h2> 
                        <p><ul id="facts">
                           <li>Use subscription, prepaid based model for your customers on periodic basis which may be: weekly/monthly/quarterly/yearly</li>
                           <li>Make use of the Quota system to suit your subscription/business models better</li>
                           <li>Use trial subscriptions to allow your customer to explore the possibilities with your unique apps</li>
                        </ul></p></td>
                        </tr>
                        
                        <tr>
                        <td>
                        <div id="test"><p><img src="media/saaskit/img/feature_three.png" alt=”Client Customization”></p></div>
                        </td>
                        <td><h2>Let your Client Customize</h2> 
                        <p><ul id="facts">
                           <li>Let your clients selects their domain or sub domains to uniquely identify themselves</li>
                           <li>Supports themes and layouts so your client can modify/integrate apps with their brand identity</li>
                           <li>Support Google Adsense and other Ad networks as well as Google Analytics and Webmaster Tools</li>
                        </ul></p></td>
                        </tr>
                        <tr>
                          <td colspan="2>
                              <p class="text-center"><script type="text/javascript"><!--
                               google_ad_client = "pub-7522411522605855";
                               /* 468x60 Banner */
                              google_ad_slot = "1418218107";
                              google_ad_width = 468;
                              google_ad_height = 60;
                               //-->
                              </script>
                           <script type="text/javascript"
                             src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                           </script></p>
                          </td>
                        </tr>
                        <tr>
                        <td>
                        <div id="test"><p><img src="media/saaskit/img/feature_four.png" alt=”Adaptable CMS”></p></div>
                        </td>
                        <td><h2>Limitless Flexibility</h2> 
                        <p><ul id="facts">
                           <li>Use an advanced content management system to adapt to your business/process requirements</li>
                           <li>Allow users to log in using their Google/yahoo/open id logins</li>
                           <li>Support for exposing your application data to 3rd party developers</li>
                           <li>Make your website go global by using built in internationalzation</li>
                        </ul></p></td>
                        </tr>
                        
                        <tr>
                        <td>
                        <div id="test"><p><img src="media/saaskit/img/feature_five.png" alt=”Open Source"></p></div>
                        </td>
                        <td><h2>Open Source</h2> 
                        <p><ul id="facts">
                            <li>Most important of all Open Source version of SaaSkit is available if you require higher level of customization</li>
                            <li>Use the power of Django Web framework to easily deploy, develop and customize your apps</li>
                        </ul></p></td>
                        </tr>
                    </table>
                    </div>                    
                    
                    <!-- End of advantages block -->
{% endblock %}

{% block sidebar %}
   
        <!--Start of quickfacts-->
        <div class="block">            
            <div class="bd">
                <h2>Quick Facts</h2>
                <ul id="facts">
                    <li>100% Browser-Based</li>
                    <li>Integrate Custom Apps</li>
                    <li>Best Primer Available</li>
                    <li>Integrate Analysis & BI tools</li>
                    <li>Expand Your Business</li>
                    <li>Tap unexplored Markets</li>
                </ul> 
                <br />
                <p><a href="/tryitout">Try It Out</a> for yourself</p>                
            </div>
        </div>
       
        <!--end of quick facts-->
{% endblock %}

{% block fake-footer %}
    <script type="text/javascript" src="/media/saaskit/js/sb/shadowbox.js"></script>
    <script type="text/javascript">
    Shadowbox.init();
    </script>
{% endblock %}


























































