{% extends "main.html" %}

{% block title %}Welcome to SaaS Kit Support page{% endblock %}
{% block head %}
    <meta name="description" content="SaaS kit Support page, the place where You can be redirected to get the best Help. Join the SaaS kit Google group to chat regarding the Latest SaaS kit group. Get Access to Services by Crowdsense even if You are an Individual, Small Business, Medium or Large Enterprise. Crowdsense assures you Develop the Best App for your Needs" />
    <meta name="keywords" content="SaaS kit,Crowdsense,Business,Individual,Google group,Help,App" /> 
{% endblock %}

{% block body %}
<!--Start of info block -->
<div class="block">
    <div class="bd">
                
    <h1>SaaS Kit Support</h1>
    <br>
        <p class="intro">Welcome to SaaS Kit Support page. Here you will find all the possible links where you can get the best possible help/troubleshooting with your customized version of SaaS Kit.</p>

        <p>You can join the SaaS Kit <a href="http://groups.google.com/group/saaskit?lnk=" target="_blank">Google Group</a> to stay up to date with the chatter relating to the latest version of SaaS Kit.</p>
        <br />
        <h3>Services by CrowdSense.com</h3>
        <p>By opting for SaaS Kit's Commercial License, you can get access to a range of services available to you and your business, ensuring SaaS Kit works for you all the time.</p>
        <h4>Services for Individuals/Small Businesses</h4>
        <p>CrowdSense.com services help you get the most out of your SaaS Kit whether you're using it personally or professionally. We get beginners up and running and give advanced users guidance with more complex usage; offering advice and support for each step along the way.</p>
        <h4>Services for Medium/Large Enterprises</h4>
        <p>Providing peace of mind for enterprises, SaaS Kit with CrowdSense services gives your enterprise exactly what you would need in terms of security, customization and integration with third party products for substantially less money than proprietary alternatives.</p>
        <h4>Professional Services</h4>
        <p>CrowdSense.com can also help you with deploying, customizing or integrating specific parts of your SaaS Kit App. Be rest assured that your App will be in good hands.</p>
        <hr>
        <p>For more information regarding SaaS Kit services by CrowdSense.com, please drop a mail: <a href="mailto:support@crowdsense.com">support@crowdsense.com</a>
    </div>
</div>
<!--End of info block -->
{% endblock %}

{% block sidebar %}
   
     <div class="block">
        <div class="bd">
            <h2>SaaS Kit Tips</h2>
            <br>
            <ul id="facts">
            <li><p>To find Apps which can directly be installed with SaaS Kit, look for the SaaS Kit approved tag on Github.com</p></li>
            <li><p>Click the update icon to quickly view the change log with only the differences between your current version and the latest one</p></li>
            </ul>
            <hr>
            <br />
            <h2>SaaS Kit Tutorials</h2>
            <br>
            <p>Want to try creating an app all by yourself? Or just need the specifics for installing an app in general?</p>
            <p>Check out the latest SaaS Kit tutorial, now available <a href="/tutorials">here</p>
        </div>
    </div>

    
    <!--end of more info-->
{% endblock %}
                    
{% block fake-footer %}
{% endblock %}






