{% extends "main.html" %}

{% block title %}Check out the SaaS kit tutorials for kick-starting your app{% endblock %}
{% block head %}
<style type="text/css">
pre, xmp {
background:#E5E5E5 none repeat scroll 0 0;
border-color:grey;
border-style:solid;
border-width:1px 0;
font-family:Monaco,"Courier New",Courier,monospace;
font-size:0.9em;
overflow:auto;
padding:0.4em;
}
.code li { list-style-type: decimal; margin: 0px 0px 10px 30px; line-height:2; }
</style>
<meta name="description" content="Find the Resources for Developing your Customized App. Get an Introduction to SaaS kit and the necessary Dependencies. Jump to more Advanced features from the sidebar Menu. " />
    <meta name="keywords" content="SaaS kit,Tutorial,First App,Django,Python,Polls App" />
{% endblock %}
{% block body %}
<!--Start of info block -->
<div class="block">
    <div class="bd">
                
    <h1>SaaS Kit Tutorials</h1>
    <br />
        <p class="intro">Welcome to SaaS Kit Tutorials page. Here you will find resources that you would need in order to develop a customized app which will work with your SaaS Kit.</p>
        <p>First things first, Lets begin with an Introduction to SaaS Kit</p>
        <p class="intro">What is SaaS Kit?</p>
        <p>SaaS Kit is a complete SaaS-type website template, ready for deployment.  It includes a set of integrated Django applications, ready to change sample templates, together with a Yahoo YUI-based CSS theme. Its dependent on Python 2.5 or higher. Currently the SaaS Kit will work without the need of a database server as it runs on Sqlite which is already installed/available with Python libraries. It is also dependent upon Django framework v1.0.2 or higher. Please read the README for a complete list of dependencies needed for SaaS Kit to work.</p>
        <br />        
        <p class="intro">SaaS Kit - Polls App Tutorial</p>
        <p>This tutorial will cover all the basic information you would need to develop a simple Django Application and integrate the same with SaaS Kit. To be more precise, this tutorial is an extension of the DjangoProject.com's 'Writing your first Django app' tutorial. In order to proceed with the tutorials you should have the poll app ready with you, as you will be modifying the same app in order to integrate it with SaaS Kit. To revisit or to know more about how to make the Poll app, please refer the links mentioned below.(Courtesy - DjangoProject.com)</p>
        <ul id="facts">
        <li><a href="http://docs.djangoproject.com/en/dev/intro/tutorial01/" target="_blank">Writing your first Django app, part 1</a></li>
        <li><a href="http://docs.djangoproject.com/en/dev/intro/tutorial02/" target="_blank">Writing your first Django app, part 2</a></li>
        <li><a href="http://docs.djangoproject.com/en/dev/intro/tutorial03/" target="_blank">Writing your first Django app, part 3</a></li>
        <li><a href="http://docs.djangoproject.com/en/dev/intro/tutorial04/" target="_blank">Writing your first Django app, part 4</a></li>
        </ul>
       <br />
       <p class="text-right"><i>When you're comfortable with this section, read part 5 of this tutorial to learn <a href="/deploying_saaskit/">"Deploying Saas Kit"</a></i></p>
       <p class="text-center">
       <script type="text/javascript"><!--
          google_ad_client = "pub-7522411522605855";
        /* 468x60 Banner */
        google_ad_slot = "1418218107";
        google_ad_width = 468;
        google_ad_height = 60;
        //-->
       </script>
       <script type="text/javascript" 
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script></p>
</div>
</div>
<!--End of info block -->
{% endblock %}

{% block sidebar %}
     
    <div class="block">
       <div class="bd">
         <h2>SaaSkit Tutorials</h2>
         <ul>
           <li><a href="/tutorials">Introduction</a></li>
           <li><a href="/deploying_saaskit">Deploying SaaS Kit</a></li>
           <li><a href="/getting_started_with_saaskit">Getting started with SaaS Kit</a></li>
           <li><a href="/enforcing_quotas_in_saaskit">Enforcing quotas</a></li>
           <li><a href="/integrating_the_polls_app_part_one">Integrating the polls app (1)</a></li>
           <li><a href="/integrating_the_polls_app_part_two">Integrating the polls app (2)</a></li>
           </ul>
       </div>
    </div>

     <div class="block">
        <div class="bd">
            <h2>Download SaaS Kit?</h2>
            <br />
            <p>For a complete range of available downloads related to SaaS Kit please visit the <a href="/downloads">Downloads</a> section</p>
            <p>Alternatively, you can visit Github's <a href='http://www.github.com/CrowdSense' target='_blank'>SaaS Kit repository</a> for the bleeding latest version</p>
            <hr>
            <br />
            <h2>SaaS Kit Tips</h2>
            <br>
            <ul id="facts">
            <li><p>To find Apps which can directly be installed with SaaS Kit, look for the SaaS Kit approved tag on Github.com</p></li>
            <li><p>Click the update icon to quickly view the change log with only the differences between your current version and the latest one</p></li>
            </ul>
        </div>
    </div>

    
    <!--end of more info-->
{% endblock %}

{% block ad %}
{% endblock %}

{% block fake-footer %}
{% endblock %}
















